@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/1.5 "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB",\\5b8b体,sans-serif;;
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a{color:#666; text-decoration:none; }
body a:hover {color:#C81623;}    
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}
/*图标管理*/
@font-face {
  font-family: 'iconfont';  /* project id 389145 */
  src: url('//at.alicdn.com/t/font_389145_wo6ywc3veq6ez5mi.eot');
  src: url('//at.alicdn.com/t/font_389145_wo6ywc3veq6ez5mi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_389145_wo6ywc3veq6ez5mi.woff') format('woff'),
  url('//at.alicdn.com/t/font_389145_wo6ywc3veq6ez5mi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_389145_wo6ywc3veq6ez5mi.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

/*头部导航开始*/
.head-top {
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
    height: 30px;
    color: #999;
}
.head-top a{
    color: #999;  
    text-decoration:none; 
}
.logo{
    background: #fff url(../images/logo.png) 0 0 no-repeat;
    width: 190px;
    height: 170px;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999px;
}
.head-site{
    height: 28px;
    line-height: 28px;
    border:1px #e3e4e5 solid;
    margin-left: 17px;       
}
.head-map{
    height: 28px;
    line-height: 28px;
    color: #f10215;
}
.head-fore1 .head-register {
    color: #f10215;
}
.head-right  li{
    float: left;
}
.head-line{
    margin: 11px 5px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #ccc;
    width: 1px;
    height: 10px;
}
.head-fore1{
    margin-right: 8px;
}
.head-fore2,.head-fore3,.head-fore4,.head-fore5,.head-fore6,.head-fore7,.head-fore8,.head-fore9{
    padding:0 7px;
}
/*头部导航结束*/

/*头部开始*/
/*搜索栏开始*/
.top-header .w{
    position: relative;
}
.top-search form{
    position: absolute;
    top: 25px ;
    left: 320px;
    width: 550px;
    height: 35px;

}
.search-text{
    padding: 4px;
    width: 490px;
    height: 25px;
    left: 0;
    top: 0;
    border: 1px solid #f10215;
    line-height: 25px;
    font-size: 14px;
    box-sizing: content-box;
    color: #989898;
}
.search-photo-btn{
    position: absolute;
    right: 65px;
    top: 10px;
    width: 19px;
    height: 15px;
    overflow: hidden;
}
.search-photo{
    display: block;
    width: 19px;
    height: 15px;
    background: url(../images/camera.png) no-repeat;
    cursor: pointer;
}
.search-btn{
    right: 0;
    top: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    vertical-align: middle;
}
.magnifier{
    width: 22px;   
}
/*搜索栏结束*/

/*购物车开始*/
.top-shopping-box{
    position: absolute;
    right: 99px;
    top: 25px;
}
.top-shopping{
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    overflow: hidden;
    position: relative;
    float: left;
    border: 1px solid #e3e4e5;
}
.top-shopping-num{
    position: absolute;
    top: 5px;
    left: 140px;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    -moz-border-radius: 7px;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}
.top-shopping-i{
    margin-right: 3px;
    font-size: 16px;
    color: #f10214;
}
.top-shopping-box .top-shopping a{
    color: #f10214;
}
/*购物车结束*/


/*头部结束*/