@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/1.5 "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB",\\5b8b体,sans-serif;;
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a{color:#666; text-decoration:none; }
body a:hover {color:#C81623;}    
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}
/*图标管理*/
@font-face {
  font-family: 'iconfont';  /* project id 389145 */
  src: url('//at.alicdn.com/t/font_389145_r5qm6js6r0w1att9.eot');
  src: url('//at.alicdn.com/t/font_389145_r5qm6js6r0w1att9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_389145_r5qm6js6r0w1att9.woff') format('woff'),
  url('//at.alicdn.com/t/font_389145_r5qm6js6r0w1att9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_389145_r5qm6js6r0w1att9.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

/*头部导航开始*/
.head-top {
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
    line-height: 30px;
    height: 30px;
    color: #999;
}
.head-top a{
    color: #999;  
    text-decoration:none; 
}
.logo{
    background: #fff url(../images/logo.png) 0 0 no-repeat;
    width: 190px;
    height: 170px;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999px;
}
.head-site{
    height: 28px;
    line-height: 28px;
    border:1px #e3e4e5 solid;
    margin-left: 17px;       
}
.head-map{
    height: 28px;
    line-height: 28px;
    color: #f10215;
}
.head-fore1 .head-register {
    color: #f10215;
}
.head-right  li{
    float: left;
}
.head-line{
    margin: 11px 5px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #ccc;
    width: 1px;
    height: 10px;
}
.head-fore{
    padding:0 7px;
}
.head-fore .iconfont {
    right: 5px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
}
.head-fore1{
    margin-right: 8px;
}
.head-fore8{
    position: relative;
}
.mobile-qrcode-box{
    position: absolute;
    left: -2px;
    width: 66px;
    height: 66px;
    border: 1px solid #cfcfcf;
}
/*这里其实不太懂,需要再看*/
.mobile-qrcode-box::before {
    content: '';
    position: absolute;
    display: block;
    top: -9px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}
.mobile-qrcode{
    margin: 4px auto;
    width: 60px;
    height: 60px;
    background: #f6f6f6 url(../images/qr.png) 50% no-repeat;
}

/*头部导航结束*/

/*头部开始*/
/*搜索栏开始*/
.top-header .w{
    position: relative;
}
.top-search form{
    position: absolute;
    top: 25px ;
    left: 320px;
    width: 550px;
    height: 35px;

}
.search-text{
    padding: 4px;
    width: 490px;
    height: 25px;
    left: 0;
    top: 0;
    border: 1px solid #f10215;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
}
.search-photo-btn{
    position: absolute;
    right: 65px;
    top: 10px;
    width: 19px;
    height: 15px;
    overflow: hidden;
}
.search-photo{
    display: block;
    width: 19px;
    height: 15px;
    background: url(../images/camera.png) no-repeat;
    cursor: pointer;
}
.search-btn{
    right: 0;
    top: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    vertical-align: middle;
}

.magnifier{
    width: 22px;   
}
/*搜索栏结束*/

/*购物车开始*/
.top-shopping-box{
    position: absolute;
    right: 99px;
    top: 25px;
}
.top-shopping{
    width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 33px;
    overflow: hidden;
    position: relative;
    float: left;
    border: 1px solid #e3e4e5;
}
.top-shopping-num{
    position: absolute;
    top: 5px;
    left: 140px;
    display: inline-block;
    padding: 1px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10215;
    -moz-border-radius: 7px;
    border-radius: 7px;
    min-width: 12px;
    text-align: center;
}
.top-shopping-i{
    margin-right: 3px;
    font-size: 16px;
    color: #f10214;
}
.top-shopping-box .top-shopping a{
    color: #f10214;
}
/*购物车结束*/

/*热搜开始*/
.top-hotword-box{
    overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}
.hotword{
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
}
.hotword1{
    color: #f10215;
}
/*热搜结束 */

/*navigation导航开始*/
.top-nav-box{
    overflow: hidden;
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
}
.nav-item{
    float: left;
    margin-left: 27px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
}
.nav-item1{
    margin-left: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
}
.nav-line{
    float: left;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: -10px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
/*navigation导航结束*/

/*京东扶贫开始*/
.top-jdfp{
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 190px;
    height: 40px;
    background: url(../images/jdfp.png) center no-repeat;
}
/*京东扶贫结束*/
/*头部结束*/
/*<!-- 左边导航条开始 -->*/
/*<!-- 左边导航条结束 -->*/
/*<!-- 右边导航条开始 -->*/
/*<!-- 右边导航条结束 -->*/

/*<!-- 尾部开始 -->*/

.footer{
    background-color: #eaeaea;
    height: 500px;
}
.footer .w{
    width: 1190px;
    margin: 0 auto;
}
/*尾部服务图片开始*/
.foot-mod-pic{
    padding: 30px 0;
    height: 42px;
    border-bottom: 1px solid #dedede;
}
.foot-mod-pic ul li{
    float: left;
    width: 225px;
    padding: 0 36px;
}
.foot-mod-pic ul li p{
    font-size: 18px;
    font-weight: 700;
    line-height:42px;
    color: #444;
}

.foot-mod-ico1{
    width: 36px;
    height: 42px;
    padding-left: 6px;
    background: url(../images/ico_service.png) no-repeat;
}
.foot-mod-ico2{
    width: 36px;
    height: 42px;
    padding-left: 6px;
    background: url(../images/ico_service.png) 0px -43px no-repeat;
}
.foot-mod-ico3{
    width: 36px;
    height: 42px;
    padding-left: 6px;
    background: url(../images/ico_service.png) 0px -86px no-repeat;
}
.foot-mod-ico4{
    width: 36px;
    height: 42px;
    padding-left: 6px;
    background: url(../images/ico_service.png) bottom no-repeat;
}
/*尾部服务图片结束*/

/*尾部服务详情开始*/
.foot-mod-help{
    padding: 20px 0;
}
.foot-mod-help-box{
    width: 198px;
    line-height: 22px;
}
.foot-mod-help-box h5{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}
.foot-mod-help a{
    color: #666;
    text-decoration: none;
    display: block;
}
.foot-mod-help-map{
    background: url(../images/ico_footer.png) no-repeat;
    width: 200px;
    height: 150px;
}
.foot-mod-help-map h5{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.foot-mod-help-map p{
    padding: 0 10px;
}
/*尾部服务详情结束*/

/*<!-- 网页底部版权信息开始 -->*/
.foot-info{
    padding: 15px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
    margin: 0 auto;
}
.foot-info-links{
    margin: 0 auto;
    width: 1050px;
}
.foot-info-links li{
    float: left;
    line-height: 17px;
}
.foot-line{
    overflow: hidden;
    margin: 0 10px;
    background-color: #ccc;
    width: 1px;
    height: 15px;
    margin-bottom: 1px;
}
/*<!-- 网页底部版权信息结束 -->*/
/*<!-- 尾部结束 -->*/